
<div class="form-wrapper black">
  <h1 class="left">Je rédige un article</h1>

  <%= simple_form_for @article do |f| %>
      <%= f.input :title, required: true, placeholder: "Titre de l'article" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="markup">
        <p class="left">
          La mise en forme se fait avec Markdown (apperçu plus bas) :
          <br>
          italique = *texte* -> <em>texte</em>
          <br>
          gras = **texte** -> <strong>texte</strong>
          <br>
          titre = #titre
          <br>
          sous-titre = ##titre
        </p>
      </div>
      <%= f.input :content, required: true, as: :text, input_html: { id: "editor"} %>
      <p class="left"><em>Aperçu de l'article :</em></p>
      <p id="preview">

      </p>
      <div class="form-actions">
        <%= f.button :submit, "Envoyer" %>
      </div>
  <% end %>


</div>

