<div class="form-wrapper green">
  <h1 class="left">
    <%= @article.title %>
  </h1>
  <p class="left"><em>Rédigé par <%= @article.user.name %></em></p>
  <div class="home-row-content-elt">
      <textarea type="hidden" id="show-editor" class="black-font" name="" id="" cols="30" rows="10"><%= @article.content %></textarea>

    <div class="left" id="show-preview">
    </div>
  </div>
    <%= link_to 'Supprimer', article_delete_path(@article), method: :delete, data: { confirm: "Supprimer définitivement ?" } if @user == @article.user || @user.admin == true %>
    <%= link_to 'Modifier', edit_article_path(@article), method: :edit if @user == @article.user || @user.admin == true %>
</div>
